.body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: 2d6187;
    color: white;
}

.pictures {
    position: relative;
    background: #28abb9;
    width: 100%;
    height: 30%;
}

#image1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #effad3;
    width: 250px;
    height: 150px;
}

#image1 img {
    width: auto;
    max-width: 100%;
    max-height: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#buttons1 {
    position: relative;
    width: 220px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

